<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/js/globals.css" />
    <link rel="stylesheet" href="../static/js/styleguide.css" />
    <link rel="stylesheet" href="../static/js/style.css" />
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="mainpage">
      <div class="overlap">
        <div class="overlap-group">
          <div class="div">
            <div class="overlap-2">
              <p class="text-wrapper">
                ONLY CC35 CERTIFIED AND DHSF 5TH CLASS OFFICERS ARE ALLOWED TO MANIPULATE, ACCESS OR DISABLE THESE
                DEVICE
              </p>
              <img class="vector" src="../static/js/img/vector-2844.svg" />
            </div>
            <img class="img" src="../static/js/img/vector-2843.svg" />
            <img class="vector-2" src="../static/js/img/vector-2844.svg" />
            <div class="overlap-3">
              <div class="frame">
                <div class="div-wrapper"><div class="text-wrapper-2">2</div></div>
                <div class="frame-2">
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-4">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-4">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-4">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle-2"></div>
                    <div class="rectangle"></div>
                  </div>
                  <div class="frame-3">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                  </div>
                </div>
              </div>
                <div class="clock">
                    <div id="clock" class="element"></div>
                </div>
            </div>
          </div>
          <div class="overlap-4">
            <p class="p">
              ONLY CC35 CERTIFIED AND DHSF 5TH CLASS OFFICERS ARE ALLOWED TO MANIPULATE, ACCESS OR DISABLE THESE DEVICE
            </p>
            <div class="navbar-wrapper">
              <div class="navbar">
                <div class="text-wrapper-3">MAIN</div>
                <div class="text-wrapper-4">LIGHTNING</div>
                <div class="text-wrapper-4">TEMPERATURES</div>
                  <a class="text-wrapper-4 text-wrapper-4-1" href="/settings">MAINTENANCE</a>
              </div>
            </div>
          </div>
          <div class="rectangle-wrapper"><div class="rectangle-7"></div>
              <div class="progress-bar"></div>
          </div>
          <div class="overlap-5">
            <div class="rectangle-8"></div>
            <img class="brick-wall" src="../static/js/img/brick-wall-1.svg" />
          </div>
          <div class="group">
            <div class="text-wrapper-5">METSONHELMI MAINFRAME MK3</div>
            <div class="overlap-group-2">
              <div class="rectangle-9"></div>
              <div class="rectangle-10"></div>
            </div>
            <div class="rectangle-11"></div>
            <div class="rectangle-12"></div>
            <div class="rectangle-13"></div>
            <div class="rectangle-14"></div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group-3">
              <div class="text-wrapper-6">OUTDOOR TEMPERATURE</div>
              <div class="text-wrapper-7">+24.6</div>
            </div>
          </div>
          <div class="group-2">
            <div class="overlap-6">
              <div class="text-wrapper-6">INDOOR TEMPERATURE</div>
              <div class="text-wrapper-7">+28.1</div>
            </div>
            <div class="group-3">
              <div class="overlap-6">
                <div class="text-wrapper-6">FRIDGE TEMPERATURE</div>
                <div class="text-wrapper-7">+4.2</div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-3">
                  <div class="text-wrapper-6">MISC TEMPERATURE</div>
                  <div class="text-wrapper-7">+17.3</div>
                </div>
              </div>
            </div>

                  <div class="data">
                      <canvas class ="datac" id="hourlyPriceChart"></canvas>
                  </div>
              <div class="bus-container">
                  <h1> Next buses towards city center</h1>
                  <!-- Dynamic bus data will be inserted here -->
              </div>

          </div>

        </div>
        <p class="element-2">78923 23899402 289J9DJ239032D XX892389D3 34829 2320</p>
        <p class="text-wrapper-8">
          ONLY CC35 CERTIFIED AND DHSF 5TH CLASS OFFICERS ARE ALLOWED TO MANIPULATE, ACCESS OR DISABLE THESE DEVICE
        </p>
        <div class="text-wrapper-9">118777 892342 238432098</div>
        <p class="text-wrapper-10">
          ARASAKA CONSUMER TECHNOLOGY ONLY CC35 CERTIFIED, CORE TEAM MEMBERS AND DHSF 5TH CLASS OFFICERS ARE ALLOWED TO
          MANIPULATE, ACCESS OR DISABLE THESE DEVICE
        </p>
        <img class="vector-3" src="../static/js/img/vector-2841.svg" />
        <img class="logo" src="../static/js/img/logo.svg" />
        <div class="frame-5">
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-4">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle-2"></div>
            <div class="rectangle"></div>
          </div>
          <div class="frame-3">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
        </div>
        <div class="frame-6"><div class="text-wrapper-2">1</div></div>
      </div>
    </div>
    <script>
        var config = {{ config | tojson }};
        function updateClock() {
            const now = new Date();
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            document.getElementById('clock').textContent = `${hours}:${minutes}`;
        }

        setInterval(updateClock, 1000);
        updateClock(); // Initialize the clock immediately on page load

        window.onload = function() {
            async function fetchAndDisplayElectricityPrices() {
                const URL = 'https://api.porssisahko.net/v1/latest-prices.json';

                try {
                    const response = await fetch(URL);
                    const jsonData = await response.json();
                    const pricesData = jsonData.prices;

                    // Get the current date and time
                    const now = new Date();

                    // Filter the pricesData array to include only future prices
                    const futurePricesData = pricesData.filter(data => new Date(data.startDate) > now);

                    // Sort the future prices data based on startDate
                    futurePricesData.sort((a, b) => new Date(a.startDate) - new Date(b.startDate));

                    // Extract prices and hours for labels
                    const prices = futurePricesData.map(data => data.price);
                    const hours = futurePricesData.map(data => new Date(data.startDate).getHours() + ':00');

                    // Update the chart
                    updateElectricityPriceChart(hours, prices);
                } catch (error) {
                    console.error('Failed to fetch electricity prices:', error);
                }
            }

            function updateElectricityPriceChart(labels, data) {
                const ctx = document.getElementById('hourlyPriceChart').getContext('2d');
                const backgroundColors = labels.map(label => {
                    return  'rgba(75,192,192,0.6)';
                });


                const chartExists = Chart.getChart('hourlyPriceChart'); // Check if the chart instance exists

                if (chartExists) {
                    chartExists.data.labels = labels;
                    chartExists.data.datasets[0].data = data;
                    chartExists.data.datasets[0].backgroundColor = backgroundColors; // Update background colors
                    chartExists.update();
                } else {
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Electricity Price (cents/kWh)',
                                data: data,
                                fill: false,
                                borderColor: 'rgb(75, 192, 192)',
                                backgroundColor: backgroundColors,
                                tension: 0.1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                }
            }

            // Call the function to fetch the data and display the chart
            fetchAndDisplayElectricityPrices();




            function updateBusContainer(itineraries) {
                const container = document.querySelector('.bus-container');
                container.innerHTML = '<h2>Next buses towards city center</h2>'; // Reset container content

                itineraries.forEach((itinerary, index) => {
                    const itineraryElem = document.createElement('div');
                    itineraryElem.classList.add('itinerary');

                    let itineraryHtml = ``;
                    itinerary.legs.forEach(leg => {
                        if (leg.trip!=null) {
                            const startTime =  new Date(itinerary.startTime).toLocaleTimeString().split(".");
                            const busLeavesTime = new Date(leg.startTime).toLocaleTimeString().split(".");
                            itineraryHtml += `
                <li>
                    <strong>${leg.trip.routeShortName}</strong>
                    <br> From home: <strong>${startTime[0]}:${startTime[1]}</strong>
                    <br> Bus leaves at ${busLeavesTime[0]}:${busLeavesTime[1]} from ${leg.from.name}
                </li>
                <br>`;
                        };
                    });
                    itineraryHtml += '</ul>';
                    itineraryElem.innerHTML = itineraryHtml;

                    container.appendChild(itineraryElem);
                });
            }
            async function fetchBusItineraries() {
                const query = `
                {
              plan(
                from: {lat: ${config.coordinates.from.lat}, lon: ${config.coordinates.from.lon}}
                to: {lat: ${config.coordinates.to.lat}, lon: ${config.coordinates.to.lon}}
                numItineraries: 3
              ) {
                itineraries {
                    startTime
                  legs {
                    trip {
                      tripHeadsign
                      routeShortName
                    }
                    startTime
                    from {
                      name
                    }
                  }
                }
              }
            }`;

                try {
                    const response = await fetch('https://api.digitransit.fi/routing/v1/routers/finland/index/graphql', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'digitransit-subscription-key':config.digitransitApiKey
                        },
                        body: JSON.stringify({ query })
                    });
                    const { data } = await response.json();

                    updateBusContainer(data.plan.itineraries);

                    // Find the earliest startTime among the first legs of the itineraries
                    const earliestStartTime = data.plan.itineraries
                        .map(itinerary => new Date(itinerary.legs[0].startTime).getTime())
                        .sort()[0];

                    // Calculate the delay until the earliest startTime
                    const now = new Date().getTime();
                    const delay = earliestStartTime - now;

                    // Set a timeout to fetch the next bus itineraries
                    if (delay > 0) {
                        setTimeout(fetchBusItineraries, delay);
                    }
                } catch (error) {
                    alert(error)
                    console.error('Failed to fetch bus itineraries:', error);
                }
            }



            // Call the function to fetch and display bus itineraries
            fetchBusItineraries();

        };
    </script>
  </body>
</html>
