:root {
  --collection-1-text-yellow: rgba(255, 187, 0, 1);
  --collection-1-text-cyan: rgba(0, 255, 230, 1);
  --collection-1-text-red: rgba(247, 80, 73, 1);
  --cyberpunkred: rgba(247, 80, 73, 1);
}
