.mainpage {
  width: 1200px;
  height: 2000px;
  background-color: #222325;
}

.mainpage .overlap {
  position: relative;
  height: 2000px;
  background-image: url(img/cleanshot-2023-05-22-at-21-59-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mainpage .overlap-group {
  position: absolute;
  width: 1163px;
  height: 748px;
  top: 0;
  left: 23px;
}

.mainpage .div {
  position: absolute;
  width: 1163px;
  height: 748px;
  top: 0;
  left: 0;
}

.mainpage .overlap-2 {
  position: absolute;
  width: 1087px;
  height: 35px;
  top: 81px;
  left: 25px;
}

.mainpage .text-wrapper {
  position: absolute;
  width: 122px;
  top: 9px;
  left: 965px;
  opacity: 0.5;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #00ffe5;
  font-size: 4px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .vector {
  position: absolute;
  width: 1087px;
  height: 15px;
  top: 0;
  left: 0;
}

.mainpage .img {
  position: absolute;
  width: 1118px;
  height: 15px;
  top: 433px;
  left: 0;
}

.mainpage .vector-2 {
  position: absolute;
  width: 1087px;
  height: 15px;
  top: 192px;
  left: 25px;
}

.mainpage .overlap-3 {
  position: absolute;
  width: 93px;
  height: 748px;
  top: 0;
  left: 1070px;
}

.mainpage .frame {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  position: absolute;
  top: 0;
  left: 76px;
}

.mainpage .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 6px;
  height: 7px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  background-color: #00ffe5;
}

.mainpage .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -8px;
  margin-bottom: -6px;
  margin-left: -6px;
  margin-right: -6px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 4px;
  letter-spacing: -0.16px;
  line-height: normal;
}

.mainpage .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.mainpage .frame-3 {
  display: flex;
  width: 8px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.2;
}

.mainpage .rectangle {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: #00ffe5;
}

.mainpage .rectangle-2 {
  position: relative;
  width: 4px;
  height: 3px;
  background-color: #00ffe5;
}

.mainpage .rectangle-3 {
  position: relative;
  width: 5px;
  height: 3px;
  background-color: #00ffe5;
}

.mainpage .rectangle-4 {
  position: relative;
  width: 2px;
  height: 3px;
  background-color: #00ffe5;
}

.mainpage .rectangle-5 {
  position: relative;
  width: 6px;
  height: 3px;
  background-color: #00ffe5;
}

.mainpage .rectangle-6 {
  position: relative;
  width: 1px;
  height: 3px;
  background-color: #00ffe5;
}

.mainpage .frame-4 {
  display: flex;
  width: 8px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 0; /* Initial width */
  background-color: #76c7c0; /* Color of the progress bar */
}
.mainpage .clock {
  display: flex;
  width: 80px;
  height: 42px;
  align-items: flex-end;
  gap: 8px;
  position: absolute;
  top: 8px;
  left: 0;
}

.mainpage .element {
  position: relative;
  width: fit-content;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #00ffe5;
  font-size: 32px;
  text-align: right;
  letter-spacing: -1.28px;
  line-height: normal;
}

.mainpage .overlap-4 {
  position: absolute;
  width: 539px;
  height: 53px;
  top: 121px;
  left: 36px;
}

.mainpage .p {
  top: 35px;
  left: 0;
  position: absolute;
  width: 122px;
  opacity: 0.5;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #00ffe5;
  font-size: 4px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .navbar-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.mainpage .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 21px;
  position: relative;
  flex: 0 0 auto;
}

.mainpage .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #ffba00;
  font-size: 28px;
  letter-spacing: -1.12px;
  line-height: normal;
}

.mainpage .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #ffba00;
  font-size: 28px;
  letter-spacing: -1.12px;
  line-height: normal;
}

.mainpage .rectangle-wrapper {
  position: absolute;
  width: 222px;
  height: 6px;
  top: 62px;
  left: 715px;
  border: 0.5px solid;
  border-color: #00ffe5;
}

.mainpage .rectangle-7 {
  position: relative;
  width: 64px;
  height: 2px;
  top: 2px;
  left: 2px;
  background-color: #00ffe5;
}

.mainpage .overlap-5 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 34px;
  left: 31px;
}

.mainpage .rectangle-8 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  border: 1px solid;
  border-color: #00ffe5;
  transform: rotate(45deg);
}

.mainpage .brick-wall {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 7px;
  left: 7px;
}

.mainpage .group {
  position: absolute;
  width: 168px;
  height: 23px;
  top: 28px;
  left: 73px;
}

.mainpage .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #00ffe5;
  font-size: 14px;
  letter-spacing: -0.56px;
  line-height: normal;
}

.mainpage .overlap-group-2 {
  position: absolute;
  width: 63px;
  height: 2px;
  top: 21px;
  left: 1px;
}

.mainpage .rectangle-9 {
  position: absolute;
  width: 19px;
  height: 2px;
  top: 0;
  left: 44px;
  background-color: #00ffe5;
}

.mainpage .rectangle-10 {
  position: absolute;
  width: 56px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #00ffe5;
  opacity: 0.5;
}

.mainpage .rectangle-11 {
  position: absolute;
  width: 1px;
  height: 2px;
  top: 21px;
  left: 67px;
  background-color: #00ffe5;
}

.mainpage .rectangle-12 {
  position: absolute;
  width: 1px;
  height: 2px;
  top: 21px;
  left: 69px;
  background-color: #00ffe5;
}

.mainpage .rectangle-13 {
  position: absolute;
  width: 1px;
  height: 2px;
  top: 21px;
  left: 76px;
  background-color: #00ffe5;
}

.mainpage .rectangle-14 {
  position: absolute;
  width: 1px;
  height: 2px;
  top: 21px;
  left: 81px;
  background-color: #00ffe5;
}

.mainpage .overlap-wrapper {
  position: absolute;
  width: 160px;
  height: 106px;
  top: 264px;
  left: 24px;
}

.mainpage .overlap-group-3 {
  position: relative;
  width: 156px;
  height: 106px;
  background-image: url(img/cleanshot-2023-05-22-at-21-47-2-3.svg);
  background-size: 100% 100%;
}

.mainpage .text-wrapper-6 {
  position: absolute;
  width: 115px;
  top: 5px;
  left: 3px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #e1b335;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 12px;
}

.mainpage .text-wrapper-7 {
  position: absolute;
  width: 117px;
  top: 33px;
  left: 18px;
  font-family: "Rajdhani", Helvetica;
  font-weight: 500;
  color: #00ffe6e6;
  font-size: 48px;
  text-align: right;
  letter-spacing: -1.92px;
  line-height: normal;
  white-space: nowrap;
}

.mainpage .group-2 {
  position: absolute;
  width: 564px;
  height: 106px;
  top: 264px;
  left: 221px;
}

.mainpage .overlap-6 {
  position: absolute;
  width: 156px;
  height: 106px;
  top: 0;
  left: 0;
  background-image: url(img/cleanshot-2023-05-22-at-21-47-2-3.svg);
  background-size: 100% 100%;
}

.mainpage .group-3 {
  width: 359px;
  left: 205px;
  position: absolute;
  height: 106px;
  top: 0;
}

.mainpage .overlap-group-wrapper {
  width: 160px;
  left: 199px;
  position: absolute;
  height: 106px;
  top: 0;
}

.mainpage .element-2 {
  width: 271px;
  top: 960px;
  left: -114px;
  transform: rotate(-90deg);
  position: absolute;
  opacity: 0.5;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #00ffe5;
  font-size: 4px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-8 {
  top: 1830px;
  left: 48px;
  position: absolute;
  width: 122px;
  opacity: 0.5;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #00ffe5;
  font-size: 4px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-9 {
  width: 122px;
  top: 1921px;
  left: 48px;
  position: absolute;
  opacity: 0.5;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #00ffe5;
  font-size: 4px;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .text-wrapper-10 {
  position: absolute;
  top: 1966px;
  left: 362px;
  opacity: 0.5;
  font-family: "Rajdhani", Helvetica;
  font-weight: 600;
  color: #00ffe5;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.data{
  display: flex; justify-content: space-around; width: 100%; height: 100%;
}
.datac{
  flex:1 ;  height:40vh; max-width: 49%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}

.mainpage .vector-3 {
  position: absolute;
  width: 1122px;
  height: 16px;
  top: 1934px;
  left: 48px;
}

.mainpage .logo {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 1884px;
  left: 48px;
}

.mainpage .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  top: 3px;
  left: 7px;
}

.mainpage .frame-6 {
  display: flex;
  flex-direction: column;
  width: 6px;
  height: 7px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: absolute;
  top: 114px;
  left: 15px;
  background-color: #00ffe5;
}
