<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .container {
            text-align: center;
        }
        .btn {
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 20px;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .canvas-container {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        .template {
            text-align: center;
        }
        #gridCanvas1, #gridCanvas2 {
            border: 1px solid black;
            background: #f0f0f0;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 20px;
        }
        .chart-container {
            flex: 1;
            height: 40vh;
            max-width: 49%;
            margin-right: 1%; /* Adds a buffer to the right */
        }
        .bus-container {
            flex: 1;
            height: 40vh;
            max-width: 49%;
            overflow-y: auto;
        }
        .clock-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%; /* Adjust based on the size of other containers */
            height: 40vh; /* Adjust to match the height of other containers */
            margin: 0 auto; /* Center the container */
            background-color: #f0f0f0; /* Optional: match the page background or set a different color */
            border: 1px solid #ddd; /* Optional: add a border to match other containers */
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: add shadow for depth */
            margin-bottom: 20px; /* Space from the next element */
            margin-top:10%;
        }

        .clock {
            font-size: 100px; /* Adjust the clock font size as needed */
            font-family: "Bauhaus 93";
        }

        .rectangle-7 {
            position: relative;
            width: 30%;
            height: 10px; /* Adjust height as needed */
            background-color: #e0e0e0; /* Background color of the progress bar container */
        }

        .progress-bar {
            position: absolute;
            height: 100%;
            width: 0; /* Initial width */
            background-color: #76c7c0; /* Color of the progress bar */
        }
    </style>
</head>
<body>

<div class="clock-container">
    <div id="clock" class="clock"></div>
</div>

<div class="container">
    <div class="canvas-container">
        <div class="template">
            <h2 id="templateName1">Template 1</h2>
            <canvas id="gridCanvas1" width="400" height="300"></canvas>
        </div>
        <div class="template">
            <h2 id="templateName2">Template 2</h2>
            <canvas id="gridCanvas2" width="400" height="300"></canvas>
        </div>

    </div>

    <div class="rectangle-wrapper">
        <div class="rectangle-7">
            <div class="progress-bar"></div>
        </div>
    </div>

    <div class="data-container" style="display: flex; justify-content: space-around; width: 100%;">
        <div class="chart-container" style="flex: 1; height:40vh; max-width: 49%;">
            <canvas id="hourlyPriceChart"></canvas>
        </div>
        <div class="bus-container" style="flex: 1; height:40vh; max-width: 49%; overflow-y: auto;">
            <h1> Next buses towards city center</h1>
            <!-- Dynamic bus data will be inserted here -->
        </div>

        <a href= "/testIndex" class="btn">Test</a>


    </div>
    <button id="fetch-airthings-data" class="btn">Fetch Airthings Data</button>
    <div id="airthings-data-container"></div>

    <div style="padding: 10px"> </div>


    <a href="/settings" class="btn">Settings</a>
</div>
<div id="colors">
    <div id="red" class="color"></div>
    <div id="green" class="color"></div>
    <div id="blue" class="color"></div>
    <div id="yellow" class="color"></div>
    <div id="orange" class="color"></div>
    <div id="purple" class="color"></div>
</div>
<script>
    let config = {{ config | tojson }};



    function updateClock() {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        document.getElementById('clock').textContent = `${hours}:${minutes}`;
    }

    setInterval(updateClock, 1000);
    updateClock(); // Initialize the clock immediately on page load


    async function fetchAirthingsData() {
        try {
            const response = await fetch("https://ext-api.airthings.com/v1/devices/:serialNumber/latest-samples?accountId="+config.airthingsUID+"&SerialNumber="+config.airthingsDeviceId, {
                method: 'GET',
                headers:
                    {
                    "Authorization":config.airthingsAuthToken,
                        "Accept":"application/json"
                }
            });
            const data = await response.json();
            displayAirthingsData(data);
        }
        catch (error) {
            if (error.response.status == 401)
            {alert("ei toii")}
               // {window.location.reload();}
            else  {
            console.error('Failed to fetch Airthings data:', error);}
        }
    }

    function displayAirthingsData(data) {
        const container = document.getElementById('airthings-data-container');
        container.innerHTML = ''; // Clear previous data
        const deviceElem = document.createElement('div');
            deviceElem.classList.add('airthings-device');
            deviceElem.innerHTML = `
                <p><strong>Temperature:</strong> ${data.temp} °C</p>
                <p><strong>Humidity:</strong> ${data.humidity} %</p>
                <p><strong>CO2:</strong> ${data.co2} ppm</p>
                <p><strong>Radon:</strong> ${data.radonShortTermAvg} Bq/m³</p>
                <p><strong>VOC:</strong> ${data.voc}</p>
            `;
            container.appendChild(deviceElem);

    }

    //document.getElementById('fetch-airthings-data').addEventListener('click', fetchAirthingsData);


    async function getPriceForHourToday(hour){
        const PRICE_ENDPOINT = 'https://api.porssisahko.net/v1/price.json';
        const dateAndTimeNow = new Date();
        const year = dateAndTimeNow.getFullYear();
        const month = dateAndTimeNow.getMonth() + 1;
        const day = dateAndTimeNow.getDate();

        const twoDigits = (number) => (number < 10 ? `0${number}` : `${number}`);

        const params = `date=${year}-${twoDigits(month)}-${twoDigits(day)}&hour=${twoDigits(hour)}`;
        const response = await fetch(`${PRICE_ENDPOINT}?${params}`);
        const { price } = await response.json();
        console.log(`The price is now ${price}`);
        return price;}
    //requires anti cors measures on localhost

    elecPrice=async function (){
        const prices = [];
        const hours = [];
        for (let i = 0; i < 24; i++) {
            hours.push(`${i}:00`);
            // Assuming getPriceForHourToday returns a promise that resolves with the price
            const price = await getPriceForHourToday(i);
            prices.push(price);
        }

        const ctx = document.getElementById('hourlyPriceChart').getContext('2d');
        const hourlyPriceChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: hours,
                datasets: [{
                    label: 'Sähkön hinta snt/kWh',
                    data: prices,
                    fill: true,
                    borderColor: 'rgb(175, 192, 192)',
                    backgroundColor: 'rgb(40,173,173)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });}





    window.onload = function() {

        function updateProgressBar() {
            const now = new Date();
            const hours = now.getHours();
            const minutes = now.getMinutes();
            const seconds = now.getSeconds();
            const totalSeconds = (hours * 3600) + (minutes * 60) + seconds;
            const percentage = (totalSeconds / 86400) * 100; // 86400 seconds in a day

            const progressBar = document.querySelector('.progress-bar');
            progressBar.style.width = percentage + '%';
        }

        setInterval(updateProgressBar, 1000);
        updateProgressBar();

        async function fetchAndDisplayElectricityPrices() {
            const URL = 'https://api.porssisahko.net/v1/latest-prices.json';

            try {
                const response = await fetch(URL);
                const jsonData = await response.json();
                const pricesData = jsonData.prices;

                // Get the current date and time
                const now = new Date();

                // Filter the pricesData array to include only future prices
                const futurePricesData = pricesData.filter(data => new Date(data.startDate) > now);

                // Sort the future prices data based on startDate
                futurePricesData.sort((a, b) => new Date(a.startDate) - new Date(b.startDate));

                // Extract prices and hours for labels
                const prices = futurePricesData.map(data => data.price);
                const hours = futurePricesData.map(data => new Date(data.startDate).getHours() + ':00');

                // Update the chart
                updateElectricityPriceChart(hours, prices);
            } catch (error) {
                console.error('Failed to fetch electricity prices:', error);
            }
        }

        function updateElectricityPriceChart(labels, data) {
            const ctx = document.getElementById('hourlyPriceChart').getContext('2d');
            const backgroundColors = labels.map(label => {  
                return  'rgba(75,192,192,0.6)';
            });

            const chartExists = Chart.getChart('hourlyPriceChart'); // Check if the chart instance exists
            if (chartExists) {
                chartExists.data.labels = labels;
                chartExists.data.datasets[0].data = data;
                chartExists.data.datasets[0].backgroundColor = backgroundColors; // Update background colors
                chartExists.update();
            } else {
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Electricity Price (cents/kWh)',
                            data: data,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            backgroundColor: backgroundColors,
                            tension: 0.1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        }

        // Call the function to fetch the data and display the chart
        fetchAndDisplayElectricityPrices();


        const drawings = {{ drawings | tojson }};
        const canvas1 = document.getElementById('gridCanvas1');
        const context1 = canvas1.getContext('2d');
        const canvas2 = document.getElementById('gridCanvas2');
        const context2 = canvas2.getContext('2d');
        const selectedTemplate1 = '{{ selected_templates[0] if selected_templates|length > 0 else "" }}';
        const selectedTemplate2 = '{{ selected_templates[1] if selected_templates|length > 1 else "" }}';
        const templateName1 = document.getElementById('templateName1');
        const templateName2 = document.getElementById('templateName2');

        function drawGrid(context, width, height, gridSize = 20) {
            context.strokeStyle = '#ddd';
            for (let x = 0; x <= width; x += gridSize) {
                context.moveTo(x, 0);
                context.lineTo(x, height);
            }
            for (let y = 0; y <= height; y += gridSize) {
                context.moveTo(0, y);
                context.lineTo(width, y);
            }
            context.stroke();
        }

        function addRectangleClickListener(canvas, rectangles) {
            canvas.addEventListener('click', function(event) {
                const x = event.offsetX;
                const y = event.offsetY;
                rectangles.forEach(rect => {
                    if (x >= rect.startX && x <= rect.startX + rect.width && y >= rect.startY && y <= rect.startY + rect.height) {
                        fetch('/api_request/' +rect.color, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ color: rect.color })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.status === 'success') {
                                    alert('API request sent successfully!');
                                } else {
                                    alert('Failed to send API request.');
                                }
                            });
                    }
                });
            });
        }

        if (selectedTemplate1) {
            const drawing1 = drawings.find(drawing => drawing.name === selectedTemplate1);
            if (drawing1) {
                templateName1.textContent = drawing1.name;
                initializeCanvas(canvas1, context1, drawing1.rectangles);
                addRectangleClickListener(canvas1, drawing1.rectangles);  // Add this line
            }
        }

        if (selectedTemplate2) {
            const drawing2 = drawings.find(drawing => drawing.name === selectedTemplate2);
            if (drawing2) {
                templateName2.textContent = drawing2.name;
                initializeCanvas(canvas2, context2, drawing2.rectangles);
                addRectangleClickListener(canvas2, drawing2.rectangles);  // Add this line
            }
        }
        function drawRectangles(context, rectangles) {
            rectangles.forEach(rect => {
                context.fillStyle = rect.color;
                context.fillRect(rect.startX, rect.startY, rect.width, rect.height);
            });
        }

        function initializeCanvas(canvas, context, rectangles) {
            context.clearRect(0, 0, canvas.width, canvas.height);
            drawGrid(context, canvas.width, canvas.height);
            drawRectangles(context, rectangles);
        }

        if (selectedTemplate1) {
            const drawing1 = drawings.find(drawing => drawing.name === selectedTemplate1);
            if (drawing1) {
                templateName1.textContent = drawing1.name;
                initializeCanvas(canvas1, context1, drawing1.rectangles);
            }
        }

        if (selectedTemplate2) {
            const drawing2 = drawings.find(drawing => drawing.name === selectedTemplate2);
            if (drawing2) {
                templateName2.textContent = drawing2.name;
                initializeCanvas(canvas2, context2, drawing2.rectangles);
            }
        }

        function updateBusContainer(itineraries) {
            const container = document.querySelector('.bus-container');
            container.innerHTML = '<h2>Next buses towards city center</h2>'; // Reset container content

            itineraries.forEach((itinerary, index) => {
                const itineraryElem = document.createElement('div');
                itineraryElem.classList.add('itinerary');

                let itineraryHtml = ``;
                itinerary.legs.forEach(leg => {
                    if (leg.trip!=null) {
                    const startTime =  new Date(itinerary.startTime).toLocaleTimeString().split(".");
                    const busLeavesTime = new Date(leg.startTime).toLocaleTimeString().split(".");
                    itineraryHtml += `
                <li>
                    <strong>${leg.trip.routeShortName}</strong>
                    <br> From home: <strong>${startTime[0]}:${startTime[1]}</strong>
                    <br> Bus leaves at ${busLeavesTime[0]}:${busLeavesTime[1]} from ${leg.from.name}
                </li>
                <br>`;
                };
                 });
                itineraryHtml += '</ul>';
                itineraryElem.innerHTML = itineraryHtml;
                container.appendChild(itineraryElem);
            });
                }
        async function fetchBusItineraries() {
                    const query = `
                {
              plan(
                from: {lat: ${config.coordinates.from.lat}, lon: ${config.coordinates.from.lon}}
                to: {lat: ${config.coordinates.to.lat}, lon: ${config.coordinates.to.lon}}
                numItineraries: 3
              ) {
                itineraries {
                    startTime
                  legs {
                    trip {
                      tripHeadsign
                      routeShortName
                    }
                    startTime
                    from {
                      name
                    }
                  }
                }
              }
            }`;

            try {
                const response = await fetch('https://api.digitransit.fi/routing/v1/routers/finland/index/graphql', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'digitransit-subscription-key':config.digitransitApiKey
                    },
                    body: JSON.stringify({ query })
                });
                const { data } = await response.json();

                updateBusContainer(data.plan.itineraries);

                // Find the earliest startTime among the first legs of the itineraries
                const earliestStartTime = data.plan.itineraries
                    .map(itinerary => new Date(itinerary.legs[0].startTime).getTime())
                    .sort()[0];

                // Calculate the delay until the earliest startTime
                const now = new Date().getTime();
                const delay = earliestStartTime - now;

                // Set a timeout to fetch the next bus itineraries
                if (delay > 0) {
                    setTimeout(fetchBusItineraries, delay);
                }
            } catch (error) {
                alert(error)
                console.error('Failed to fetch bus itineraries:', error);
            }
        }



        // Call the function to fetch and display bus itineraries
        fetchBusItineraries();

        drawGrid(context1, canvas1.width, canvas1.height);
        drawGrid(context2, canvas2.width, canvas2.height);
    };
</script>
</body>
</html>
